body{
        font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: #2C314D;
    border-top: 5px solid #4189C7;
    color: #FFFFFF;
    max-width: 282px;
    height: 256px;
    border-radius: 5px;
    text-align: center;
    margin: 0px auto;
}


.handle {
    margin-top: 20px;
}
.total-followers {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: bold;
}
.wide-followers{
    text-transform: uppercase;
    letter-spacing: 12px;
}

.todays-count{
    color: #7fffd4;
    margin-bottom: 20px;
}