* {
    font-family:'Courier New', Courier, monospace;
}
.parraf{
    color: #DD2244;
}

h1{
    color: rgb(209, 195, 0);
    font-size: 20px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#titulo{
    color: rgb(0, 124, 6);
}

a[href="https://www.google.com"]{
    color: rgb(0, 51, 51);
    background-color: aquamarine;
    text-decoration: none;
    padding: 5px;
}